.ion-search {
  --icon-color: var(--ion-color-secondary);
  margin: 10px auto;
}

.friend {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 20px;
  justify-content: space-between;
}

.friend-logo {
  margin-right: 25px;
}

ion-button {
  margin: auto 30px;
  align-self: end;
  right: 30px;
}

.discover-logo {
  margin: 30px 0;
  width: 100%;
}

ion-toolbar {
  --background: #abdee6 !important;
  color: white !important;
}
