.welcome-logo {
  margin: 50px auto 30px !important;
  width: 100%;
  max-width: 800px;
}

ion-button {
  margin: 30px auto !important;
  position: center !important;
}

ion-content {
  align-content: center;
}

ion-row {
  margin: 0 auto !important;
}

ion-col {
  padding: 0 !important;
}

ion-button {
  margin: 10px auto !important;
}

ion-text {
  margin: 0 auto !important;
}

